<p class="mat-display-4">Display 4</p>
<p class="mat-display-3">Display 3</p>
<p class="mat-display-2">Display 2</p>
<p class="mat-display-1">Display 1</p>
<p class="mat-headline">Headline</p>
<p class="mat-title">Title</p>
<p class="mat-subheading-2">Subheading 2</p>
<p class="mat-subheading-1">Subheading 1</p>
<p class="mat-body">Body 1</p>
<p class="mat-body-2">Body 2</p>
<p class="mat-caption">Caption</p>
<button mat-button>Basic</button>
<br/>
<mat-form-field class="example-margin">
  <input matInput type="number" placeholder="Step size" [(ngModel)]="step">
</mat-form-field>

